@import '../variables';

.box-container {
    min-width: 90px;
    min-height: 90px;
  
    max-width: 90px;
    max-height: 90px;
  
    background-color: $title-secondary;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    margin: 1rem;

    transition: all .2s;
    border-radius: 10px;

    cursor: pointer;
    label { cursor: pointer; }

    &:hover {
        background-color: $title-primary;
        color: #fff;
    }

    .label {
        width: 100%;
        text-align: center;
    }
}

.checkbox {
    position: absolute;
    left: -9999vw;
}

input[type="checkbox"]:checked.checkbox {
    &+div {
        background-color: $title-primary;
        color: #fff;
    }
}