@import '../variables';

#page-404 {
    h1 {
		font-size: 5rem;
		font-weight: 200;
	}

    h3 {
        margin: 0.5rem 0;
    }

	a {
		color: $accent-secondary;
		font-size: 1.2rem;

		text-decoration: underline;
		transition: all .2s;

		&:hover {
			color: $accent-primary;
		}
	}
}